.venv
.env
poetry.lock
data/*
!data/.gitkeep
notebooks/random.ipynb
results/*
workshop-results
.ruff_cache
config.cfg
 __pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/
*/*/*/*/*/*/__pycache__/
*/*/*/*/*/*/*/__pycache__/
*/*/*/*/*/*/*/*/__pycache__/
*/*/*/*/*/*/*/*/*/__pycache__/
*/*/*/*/*/*/*/*/*/*/__pycache__/
*/*/*/*/*/*/*/*/*/*/*/__pycache__/
 *.pyc
tilly/api/database/data/__pycache__/models.cpython-310.pyc
tilly/dashboard/plots
users.db
.python-version

# mkdocs documentation
site/
